* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    background-color: rgb(230, 226, 226);
    width: 540px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h3 {
    padding: 10px 0px 10px 10px;
}

.line1 p {
    display: inline-block;
    text-align: left;
}

.left {
    width: 270px;
    padding: 10px 0px 10px 10px;

}

.left-i {
    width: 250px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.right-i {
    width: 250px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;

}

.line {
    padding: 10px 0px 10px 10px;
}

.line4 .name {

    border: 1px solid rgb(204, 204, 204);
    padding: 5px;
    margin: 0px 0px 0px 10px;
    font-size: 12px;
    float: left;

}

.line4 .name-i {
    text-align: left;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    width: 491px;
}

.option {
    color: grey;
}

.email {
    width: 270px;
    padding: 0px 0px 0px 10px;
}

.email .email-i {
    text-align: left;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    width: 520px;
}

.country {
    width: 520px;
    padding: 10px 0px 10px 10px;
}

.country p {
    display: inline-block;
}

.country .country-1 {
    width: 215px;
}

.country2 {
    width: 540px;
    padding: 0px 0px 10px 10px;

}

.country2 select:first-child {
    padding: 2.5px 120px 2.5px 5px;
    margin-right: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}



.country2 #thr2 {
    padding: 2.5px 100px 2.5px 5px;
    margin-right: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.country .country-2 {
    width: 200px;
}

.country2 #thr3 {
    width: 96px;
    padding: 2.5px 10px 2.5px 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.check {
    padding: 10px 0px 10px 10px;
}

.check .check1 {
    padding-bottom: 5px;
}


.card label {
    display: inline-block;
    text-align: left;
}

.note {
    padding: 3px 0px 5px 12px;
    font-size: 10px;
    text-align: unset;
}

.date label {
    display: inline-block;
    text-align: left;
}

.date-left {
    width: 120px;
    padding: 10px 0px 5px 10px;

}

.left-date {
    width: 100px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.right-date {
    width: 100px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.date-i {
    padding: 5px;
}

.last {
    text-align: center;
    padding: 10px;
}

hr {
    margin: 10px;
    border-top: 1px solid rgb(189, 188, 188);
}

.last button {
    text-align: center;
    background-color: rgb(40, 105, 208);
    color: white;
    border: none;
    border-radius: 5px;
    width: 520px;
    padding: 10px;
}